@model BeFit.Models.PerformedExercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PerformedExercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepsPerSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepsPerSet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingSession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingSession.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
